# Hotel Recommendation System with Machine Learning

In [16]:
import nltk
#nltk.download('wordnet')
#nltk.download('punkt')
#nltk.download('stopwords')
#nltk.download('omw-1.4')
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from ast import literal_eval

In [17]:
data = pd.read_csv("Hotel_Reviews.csv")
data.tail()

                                                       Hotel_Address  Additional_Number_of_Scoring Review_Date  Average_Score             Hotel_Name Reviewer_Nationality                                                                Negative_Review  Review_Total_Negative_Word_Counts  Total_Number_of_Reviews                                                                                                                Positive_Review  Review_Total_Positive_Word_Counts  Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score                                                                                                                      Tags days_since_review        lat        lng
515733  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                           168   8/30/2015            8.1  Atlantis Hotel Vienna              Kuwait                     no trolly or staff to help you take the luggage to the room                                 14                     2823                                                                                                                       location                                  2                                           8             7.0                                      [' Leisure trip ', ' Family with older children ', ' 2 rooms ', ' Stayed 5 nights ']           704 day  48.203745  16.335677
515734  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                           168   8/22/2015            8.1  Atlantis Hotel Vienna             Estonia                                        The hotel looks like 3 but surely not 4                                  11                     2823                                                                                  Breakfast was ok and we got earlier check in                                  11                                          12             5.8                         [' Leisure trip ', ' Family with young children ', ' Standard Triple Room ', ' Stayed 2 nights ']           712 day  48.203745  16.335677
515735  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                           168   8/19/2015            8.1  Atlantis Hotel Vienna               Egypt    The ac was useless It was a hot week in vienna and it only gave more hot air                                 19                     2823                                                                                                                    No Positive                                  0                                           3             2.5  [' Leisure trip ', ' Family with older children ', ' 2 rooms ', ' Stayed 4 nights ', ' Submitted from a mobile device ']           715 day  48.203745  16.335677
515736  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                           168   8/17/2015            8.1  Atlantis Hotel Vienna              Mexico                                                                     No Negative                                  0                     2823   The rooms are enormous and really comfortable I believe that a family of 5 members could be more than comfy in these spaces                                  25                                           3             8.8                                              [' Leisure trip ', ' Group ', ' Standard Triple Room ', ' Stayed 3 nights ']           717 day  48.203745  16.335677
515737  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                           168    8/9/2015            8.1  Atlantis Hotel Vienna             Hungary                                    I was in 3rd floor It didn t work Free Wife                                  13                     2823                                                                                                           staff was very kind                                   6                                           1             8.3                                      [' Leisure trip ', ' Family with young children ', ' 2 rooms ', ' Stayed 2 nights ']           725 day  48.203745  16.335677

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [19]:
# Replacing "United Kingdom" with "UK"
data.Hotel_Address = data.Hotel_Address.str.replace("United Kingdom", "UK")
# Now I will split the address and the last word in the address to identify the country
data["countries"] = data.Hotel_Address.apply(lambda x: x.split(' ')[-1])
print(data.countries.unique())

['Netherlands' 'UK' 'France' 'Spain' 'Italy' 'Austria']

In [28]:
data.drop(['Additional_Number_of_Scoring',
          'Review_Date','Reviewer_Nationality',
          'Negative_Review','Review_Total_Negative_Word_Counts',
          'Total_Number_of_Reviews','Positive_Review',
          'Review_Total_Positive_Word_Counts',
          'Total_Number_of_Reviews_Reviewer_Has_Given','Reviewer_Score',
          'days_since_review','lat','lng'],axis=1,inplace=True)

KeyError: "['Additional_Number_of_Scoring', 'Review_Date', 'Reviewer_Nationality', 'Negative_Review', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Positive_Review', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'days_since_review', 'lat', 'lng'] not found in axis"

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  515738 non-null  object
 1   Average_Score  515738 non-null  float64
 2   Hotel_Name     515738 non-null  object
 3   Tags           515738 non-null  object
 4   countries      515738 non-null  object
dtypes: float64(1), object(4)
memory usage: 19.7+ MB

In [30]:
# function to convert the strings of lists into a normal list and then apply it to the Tags column
def impute(column):
    column = column[0]
    if (type(column) != list):
        return "".join(literal_eval(column))
    else:
        return column

data["Tags"] = data[["Tags"]].apply(impute, axis = 1)
data.head()

/tmp/ipykernel_9616/269410789.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  column = column[0]

SyntaxError: invalid syntax (<unknown>, line 1)

In [23]:
data['countries'] = data['countries'].str.lower()
data['Tags'] = data['Tags'].str.lower()

In [24]:
def recommend_hotel(location, description):
    description = description.lower()
    word_tokenize(description)
    stop_words = stopwords.words('english')
    lemm = WordNetLemmatizer()
    filtered = {word for word in description if not word in stop_words}
    filtered_set = set()
    for fs in filtered:
        filtered_set.add(lemm.lemmatize(fs))

    country = data[data['countries']==location.lower()]
    country = country.set_index(np.arange(country.shape[0]))
    list1 = []; list2 = []; cos = [];
    for i in range(country.shape[0]):
        temp_token = word_tokenize(country["Tags"][1])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp2_set = set()
        for s in temp_set:
            temp2_set.add(lemm.lemmatize(s))
        vector = temp2_set.intersection(filtered_set)
        cos.append(len(vector))

    country['similarity']=cos
    country = country.sort_values(by = 'similarity', ascending=False)
    country.drop_duplicates(subset ='Hotel_Name', keep='first',inplace=True)
    country.sort_values('Average_Score',ascending=False,inplace=True)
    country.reset_index(inplace=True)
    return country[["Hotel_Name", "Average_Score","Hotel_Address"]].head()

# Lets test the function by selecting any country out of the six countries mentioned

In [26]:
 recommend_hotel('Italy','I am going for a business trip')

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - '/home/ochwo-edrian-jude/nltk_data'
    - '/home/ochwo-edrian-jude/miniconda3/envs/ds4b/nltk_data'
    - '/home/ochwo-edrian-jude/miniconda3/envs/ds4b/share/nltk_data'
    - '/home/ochwo-edrian-jude/miniconda3/envs/ds4b/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************